{% load static %}
<header class="wrapper">
    <div class="header_burger">
        <div class="for_burger">
            <a href="#"><img class="img_logo" src="{% static '/img/logo.jpg' %}"></a>
            <div class="btn_burger", onclick="myFunction()">
                <span></span>
            </div>
        </div>
        <ul class="just_ul">
            <li><a href="/rent_active">Аренда по сервисам</a></li>
            <li><a href="/rent_time">Аренда по времени</a></li>
            <li><a href="https://ru.freepik.com/premium-vector/404-error-web-template-with-cute-doggy_2234124.html">Мобильные прокси</a></li>
            <li><a href="/FAQ">FAQ/Контакты</a></li>
            <li><a href="/exit">Вход</a></li>
            <li><a href="/req_auth">Регистрация</a></li>
        </ul>
    </div>
    <div class="header_right">
        <div><li><a href="/main"><img class="img_logo" src="{% static '/img/logo.jpg' %}"></a></li></div>
        <div><li><a href="/rent_active">Аренда по сервисам</a></li></div>
        <div><li><a href="/rent_time">Аренда по времени</a></li></div>
        <div><li><a href="https://ru.freepik.com/premium-vector/404-error-web-template-with-cute-doggy_2234124.html">Мобильные прокси</a></li></div>
        <div><li><a href="/FAQ">FAQ/Контакты</a></li></div>
    </div>
    <div class="header_left">
        <div><li><a href="/exit">Вход</a></li></div>
        <div><li><a href="/req_auth">Регистрация</a></li></div>


    </div>
</header>