{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MAIN PAGE</title>

    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'fonts/script.js' %}"></script>
</head>
<body>
{% if reqister %}
    {% include 'include/header_reg.html' %}
{% else %}
    {% include 'include/header_not_reg.html' %}
{% endif %}
<div class="conteiner">
    <div class="wrapper">
        <div class="conteiner_news">
            {% include 'include/buy_sms.html' %}
            <div class="news">
                <div class="about_site">
                    <h1>AutoSMS.get - Сервис получения смс для активаций.</h1>
                    <br>
                    <p>Нажимая кнопку получить, вы соглашаетесь с <a href="#">Условиями использования</a></p>
                    <br>
                    <br>
                    <p>AutoSMS.Verification - online сервис приема СМС на РЕАЛЬНЫЕ мобильные номера (СИМ) стран Европы и Америки.</p>
                    <div class="block_support">
                        <h2 style="color: black; font-weight: 600;">Контакты:</h2>
                        <br>
                        <h2>Telegram: <a href="#" style="color: black; font-weight: 600;">@Autosms</a></h2>
                        <h2>Jabber: <a href="#" style="color: black; font-weight: 600;">@Autosms</a></h2>
                        <h2>ICQ: <a href="#" style="color: black; font-weight: 600;">4645431</a></h2>
                    </div>
                    <h2 style="color: black; font-weight: 600;">Новости в Telegram: <a href="#" style="color: rgb(133, 29, 29); font-weight: 600;">@Autosms</a></h2>
                </div>
                <div class="all_news">
                    <h1>НОВОСТИ</h1>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                    <div class="one_news">
                        <div class="title_and_data">
                            <h1>Автоматическая цена</h1>
                            <h3>23 ноября 2020 г.</h3>
                        </div>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                        <br>
                        <p>Цена будет устанавливаться автоматически в зависимости от спроса на сервис: чем выше спрос, тем выше и цена. Соответственно, если спроса не будет, цена может опуститься до $0.1 за сервис. Обновление цен происходит ежедневно.</p>
                        <br>
                        <p>Перед покупкой проверяйте актуальную цену на сервис на данный момент!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% include 'include/footer.html' %}
</body>
</html>