{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MAIN PAGE</title>

    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'fonts/script.js' %}"></script>
</head>
<body>
{% if reqister %}
    {% include 'include/header_reg.html' %}
{% else %}
    {% include 'include/header_not_reg.html' %}
{% endif %}

<div class="conteiner">
    <div class="wrapper">
        <div class="conteiner_news">
            <div class="news">
                <div class="just_number">
                    <h2>ЛИЧНЫЙ КАБИНЕТ</h2>
                    <p>Новости в Telegram: <a href="#">@get_sms_vf</a></p>
                    <hr>
                    <div class="my_profile">
                        <div class="my_profile_left">
                            <h1>
                                Баланс: 0,00 рублей.
                            </h1>
                            <h1>
                                <a href="#"> Пополнить баланс</a>
                            </h1>
                        </div>
                        <div class="my_profile_right">
                            <h1>
                                <a href="#">История операций</a>
                            </h1>
                        </div>
                    </div>
                </div>
             </div>

        </div>
    </div>
</div>

{% include 'include/footer_two.html' %}
</body>
</html>